body{
    background-color: #eee;
}

input[type="text"] {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0px;
    display: inline-block;
    border: solid #ccc 1px;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: 1px solid;
    border-radius: 4px;
    cursor:pointer;
}

.box{
    background-color: white;
    border-radius: 4px;
    padding: 12px 20px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}

textarea{
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0px;
    display: inline-block;
    border: solid #ccc 1px;
    border-radius: 4px;
    box-sizing: border-box;
}