* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    max-width: 1200px;
    margin: 0 auto;
}

.hero{
    margin-top: 90px;
    display: grid;
    grid-template-columns: minmax(300px, 2fr) 3fr;
    grid-auto-rows: 400px;
}

.hero-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.titulo{
    margin: 0;
    font-size: 70px;
    font-weight: 900;
    color: rgb(13, 2, 63);
}

.info{
    align-self: center;
}
.parrafo{
    font-size: 25px;
    padding-bottom: 10px;
}
.boton-1{
    font-size: 25px;
    border-radius: 30px;
    border: 1px solid orange;
    background-color: orangered;
    color: lavender;
    padding: 10px 20px;
    cursor: pointer;
}
.boton-1:hover{
    transform: scale(1.09, 1.09);
}

h2{
    margin-top: 100px;
    font-size: 35px;
    margin-bottom: 50px;
    text-align: center;
}

.dishes{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px, 200px));
    grid-auto-rows: 1fr;
    gap: 30px;
    justify-content: center;
}

.item{
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 9px;
    object-fit: cover;
}

.item-big {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 9px;
    object-fit: cover;
    grid-area: 1 / 1 / 3 / 3;
}

.item-big:hover{
    transform: scale(1.02, 1.02);
}
.item:hover{
    transform: scale(1.02, 1.02);
}
.Plates{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 200px;
    justify-content: center;
    gap: 20px;
}

@media screen and (max-width:768) {
    .hero{
        grid-template-columns: 1fr;
    }
    .hero-img {
        display: none;
    }
    
}