
.dropdown-btn {
    background-color: #4caf50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
}

.dropdown{
    display: inline-block;
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #eee;
    min-width: 160px;
    box-shadow: 0px 4px 4px rgb(117, 117, 117);
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover{
    background-color: #afafaf;
}

.dropdown:hover .dropdown-btn{
    background-color: #3e8e41;
}

.dropdown:hover .dropdown-content{
    display: block;
}